{% extends "base.html" %}

{% block title %} home {% endblock %}

{% block content %}
<div>
    <h2> ホーム </h2>

    <p class="nav-link"><a href="{% url 'tweets:create' %}"><button type="button"
                class="btn btn-primary">新規作成</button></a></p>


    <div class="mb-3">
        <div class="row  justify-content-center">
            {% if messages %}
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row  justify-content-center">
        {% for tweet in tweet_list %}
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <a href="{% url 'accounts:user_profile' tweet.user %}">
                        {{ tweet.user }}
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ tweet.content }}
                    </p>
                    <a href="{{ tweet.get_absolute_url }}">
                        <button type="button" class="btn btn-outline-primary">
                            詳細
                        </button>
                    </a>
                </div>
                <div class="card-footer text-muted">
                    {% include "tweets/like.html" %} {{ tweet.created_at }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
