<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div>
        <h1>
            {% block header %}
            {% endblock header %}
        </h1>
        <nav class="navbar navbar-expand-lg">
            <form class="container-fluid justify-content-start">
                {% if request.user.is_authenticated %}
                <p class="nav-link"><a href="{% url 'accounts:logout' %}"><button type="button"
                            class="btn btn-outline-primary">ログアウト</button></a></p>
                <p class="nav-link"><a href="{% url 'accounts:user_profile' request.user %}"><button type="button"
                            class="btn btn-outline-primary">プロフィール</button></a></p>
                <p class="nav-link"><a href="{% url 'tweets:home' %}"><button type="button"
                            class="btn btn-outline-primary">ホーム</button></a></p>

                {% else %}
                <p class="nav-link"><a href="{% url 'accounts:login' %}"><button type="button"
                            class="btn btn-outline-primary">ログイン</button></a></p>
                <p class="nav-link"><a href="{% url 'accounts:signup' %}"><button type="button"
                            class="btn btn-primary">登録</button></a></p>
                {% endif %}
            </form>
        </nav>
        {% block content %}
        {% endblock content %}

    </div>
</body>

</html>
